/* sets font-famil to arial,helvetica,sans-serif ,font-size to 16px and margin,padding 0 for all elements  */
*{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
   
}

/* set background color of the page*/
body{
    background-color: cornsilk;
}

/* sets the header element with padding top-bottom 30px,background color  */
.header {
    padding: 30px;
    background-color: #064230;
    border-bottom: orangered 3px solid;
    
}

/* sets the navbar padding 10px on bottom, margin 20px on right and -10px on top and floated to right side of browser and font family and font size selected */
.header nav {
    padding-bottom: 10px;
    margin-right: 20px;
    margin-top: -10px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* Nav bar list style set to none ,deletes all the bullets in the list */
.header nav ul {
    list-style-type: none;
}

/* sets nav bar links display to inline block to align them next to each other with margin-left 25px */
.header nav ul li {
    display: inline-block;
    margin-left: 50px;
}

/* sets the nav bar links color white and disable any text-decorations */
a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

/* Sets H1 elements font-size to 27px and align center of the page with margin 10px all direction */
#heading h1{
    text-align: center;
    margin:10px 10px;
    font-size: 27px;
}

/* sets image width and height and left-right margin */
img {
    width: 345px;
    height: 200px;
    margin: 0 450px;

}

/* Sets the text content below image at center with margin-bottom 30px */
#image p{
    margin-bottom:30px;
    text-align: center;
}

/* sets the contactinfo block background color and border-top with width and height defined */
#contactinfo{
    width: 100%;
    height: 300px;
    background-color: rgb(177, 136, 102);
    border-top: orangered solid 3px;
}

/* Sets h2 element content at centre with font-size 20px and margin-top 50px */
#contactinfo h2{
    text-align: center;
    margin-top:50px;
    font-size: 20px;
}
